.__json-pretty-error__, .__json-pretty__ {
  padding: 1rem !important;
  background-color: rgba(255, 255, 255, 0.09) !important;
}

.headers {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 2rem !important;
}

.modal {
  border-radius: 12px;
  border: 0.5px dashed;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.curl-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  letter-spacing: 5px !important;
}

.headers label {
  font-weight: 600;
  color: var(--mui-palette-primary-dark);
}

.req-body {
  width: 100%;
  padding: 0.5em !important;
  color: var(--mui-palette-primary-dark) !important;
  margin: 1em !important;
  height: auto;
}

.req-headers {
  width: 100%;
  padding: 0.5em !important;
  color: var(--mui-palette-success-dark) !important;
  margin: 1em !important;
  height: auto;
}

.textarea {
  border-bottom: none !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.error-div {
  margin-top: 1em !important;
  font-weight: 1000;
}

.error {
  color: var(--mui-palette-error-dark);
}
