body {
  line-height: 1 !important;
  letter-spacing: normal !important;
  width: 100vw;
}

.__json-pretty__ {
  padding-top: 0;
  margin-top: 0;
}

.headers label {
  font-weight: 600;
  font-size: 1em;
  color: var(--mui-palette-primary-dark);
}

.req-body {
  width: 100%;
  padding: 0.5em !important;
  color: var(--mui-palette-primary-dark) !important;
  margin: 1em !important;
  height: auto;
}

.req-headers {
  width: 100%;
  padding: 0.5em !important;
  color: var(--mui-palette-success-dark) !important;
  margin: 1em !important;
  height: auto;
}

.error-div {
  margin-top: 1em !important;
  font-weight: 1000;
}

.error {
  color: var(--mui-palette-error-dark);
}
